html{
	font-size:10px ;
	background: url('./background.jpg') ;
	background-size: cover;
	height:100vh;
	font-family: sans-serif;
}
.keys1{
	margin-top: 15%;
}
.keys1, .keys2, .keys3 {
	display: flex;
	align-items: center;
	justify-content: center;
}
.key {
	border:.4rem solid grey;
	border-radius: .5rem;
	margin:1rem;
	font-size: 1.5rem;
	padding: 1rem .5rem;
	transition: all .1s ease;
	width:10rem;
	text-align: center;
	color: white;
	background: rgba(0,0,0,.7);
	text-shadow: 0 0.5rem black;
}
.playing {
	transform: scale(1.1);
	border-color: #34fc19;
	box-shadow: 0 0 1rem #34fc19;
}
kbd {
	display: block;
	font-size: 4rem;
}
.sound {
	font-size: 1.2rem;
	text-transform: uppercase;
	letter-spacing: .1rem;
	color: #ffc600;
}